<div>
    <div data-bind="if: anyWorks()">
        <div class="sort_panel" ></div>
        <ul class="filters">
            <li class="menu_item" data-bind="css: { active: sortedBy() == 'createdDate' }, click: sortBy.bind($data, 'createdDate')"><a class="menu_link" data-bind="style: {cursor: sortedBy() == 'createdDate' ? 'default' : 'pointer'}">По дате</a></li>
            <li class="menu_item" data-bind="css: { active: sortedBy() == 'likeable.likesCount' }, click: sortBy.bind($data, 'likeable.likesCount')"><a class="menu_link" data-bind="style: {cursor: sortedBy() == 'likeable.likesCount' ? 'default' : 'pointer'}">По рейтингу</a></li>
            <li class="menu_item" data-bind="css: { active: sortedBy() == 'viewable.viewsCount' }, click: sortBy.bind($data, 'viewable.viewsCount')"><a class="menu_link" data-bind="style: {cursor: sortedBy() == 'viewable.viewsCount' ? 'default' : 'pointer'}">По популярности</a></li>
            <li class="menu_line"></li>
        </ul>
    </div>
    <div class="clearfix"></div>
    <div data-bind="if: isReady() && !anyWorks()">
        <p class="text-center center-block mute">Работы не найдены<span data-bind="if: ableToUpload">. Добавьте свою работу!</span></p>
    </div>
    <div data-bind="if: anyWorks()">
        <div id="ip-container" class="ip-container" data-bind="animoprogress: {firedOnce: isAnimationFired()}">
        <header class="ip-header">
            <div class="ip-loader">
                <svg width="60px" height="60px" viewbox="0 0 80 80" class="ip-inner">
                    <path d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z" class="ip-loader-circlebg"></path>
                    <path id="ip-loader-circle" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z" class="ip-loader-circle"></path>
                </svg>
            </div>
        </header>
        <a id="next" data-bind="attr: {href: nextPageServiceUrl}"></a>
        <div id="work_container" class="row ip-main" data-bind="infiscroll: {finishedMsg: 'На данный момент вы видите весь список работ', msgText: 'Загружаем работы...', navSelector: '#next', nextSelector: 'a#next', itemSelector: '#work_container .col-lg-3.col-md-3.col-sm-6.col-xs-12', img: '/img/loader.svg', onLoadAdditionalWorksFn: onLoadAdditionalWorks, resetTriggerFn: resetInfiscroll, destroyTriggerFn: destroyInfiscroll}">
            <div class="loader" data-bind="visible: !isReady()"></div>
            <div data-bind="foreach: works, visible: isReady()">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="work">
                        <div class="full_info">
                            <div class="author">
                                <div class="media">
                                    <div class="media-left media-top"><a href="javascript:;"><img data-bind="attr: { src: owner.imageUrl }"/></a></div>
                                    <div class="media-body">
                                        <h4 class="media-heading name" data-bind="text: owner.displayName"></h4><span class="date" data-bind="text: createdDate | shortDate"></span>
                                        <div class="rating"></div>
                                        <input type="hidden" disabled="disabled" value="3.5" data-filled="fa fa-star fa-3x" data-empty="fa fa-star-o fa-3x" data-fractions="2" class="rating-tooltip-manual">
                                    </div>
                                </div>
                            </div>
                            <hr><a data-bind="attr: {href: '/works/' + workId}" class="description">
                            <p data-bind="text: description"></p></a>
                        </div><img data-bind="attr: {src: imageResource.thumbnailUri}"/>
                        <div class="short_info"><a class="inline-block v-middle info_block views"><i class="icon chapter_iconsview"> </i><span data-bind="text: viewsCount"></span></a>
                            <div class="inline-block v-middle separator"></div><a class="inline-block v-middle info_block likes">
                                <button class="icobutton icobutton--heart" data-bind="animolike: {data: workId, enabled: _links.like || _links.unlike, isLiked: _links.unlike, like: $parent.likeWork, unlike: $parent.unlikeWork}, style: {color: _links.unlike ? '#d8536f' : '#aebeca', cursor: (_links.like || _links.unlike) ? 'pointer' : 'default'}"><i class="fa fa-heart"></i><span class="icobutton__text icobutton__text--side" data-bind="text: likesCount, style: {color: _links.unlike ? '#d8536f': '#aebeca'}"></span></button></a>
                            <div class="inline-block v-middle separator"></div><a class="inline-block v-middle info_block comments"><i class="icon chapter_iconschat"></i><span data-bind="text: commentsCount"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    </div>
</div>