<ul class="nav navbar-nav navbar-right">
    <li><a id="add_work" href="javascript:;" class="add_work" data-bind="click: uploadWork"><span class="add_but">+</span>добавить работу</a></li>
    <li><div id="displayNamePopover" class="hide"><span class="tooltip_text" data-bind="text: $parent.profile.displayName"></span></div>
        <a id="user_info" href="javascript:;" class="btn" data-bind="popover: { templateSelector: '#displayNamePopover', trigger: 'focus'}">
        <img data-bind="attr: {src: $parent.profile.avatarUrl}" class="avatar"/>
        </a></li>
    <li><a id="signout" href="javascript:;" data-bind="click: signOut" class="btn"><i class="icon chapter_iconsturn-off"></i></a></li>
</ul>