<div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
        </div>
        <div class="modal-body">
            <p>Вы можете авторизоваться одним из нескольких способов:</p>
            <hr>
            <div data-bind="foreach: oauthProviders"><div class="inline-block">
                <form method="POST" data-bind="attr: {action: apiPath}">
                    <input type="hidden" name="scope" data-bind="value: scope"/>
                    <button type="submit" class="oauth btn-block btn-social" data-bind="click: $parent.submit, css: btnClass, disable: disabled">
                        <span class="fa" data-bind="css: faClass"></span><!-- ko text: label --><!-- /ko -->
                    </button>
                </form></div></div>
        </div>
    </div>
</div>
