<div class="modal-dialog">
    <div class="modal-content">
        <script type="html/text" id="previewTemplate">
            <div class="dz-preview dz-image-preview">
                <div class="dz-image"><img data-dz-thumbnail=""/></div>
                <div class="dz-details">
                    <div class="dz-filename"><span data-dz-name></span></div>
                    <div class="dz-size" data-dz-size></div>
                </div>
                <div class="dz-error-message"><span data-dz-errormessage></span></div>
                <div class="dz-success-mark"><span>✔</span></div>
                <div class="dz-error-mark"><span>✘</span></div>
            </div>
        </script>
        <div class="modal-header">
            <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span
                    aria-hidden="true">×</span></button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <label for="work_descr">ВВЕДИТЕ ОПИСАНИЕ РАБОТЫ</label>
                    <textarea id="work_descr" name="description"
                              data-bind="value: description, valueUpdate: 'input', css: { valid: description.isModified() && description.isValid()}"
                              required="" minlength="50" maxlength="400" class="form-control"></textarea>
                    <label id="work_descr-error" class="error" for="work_descr" data-bind="validationMessage: description"></label>
                </div>
            </form>
            <div id="dropzone">
                <form id="work_upload"
                      data-bind="dropzone: {config: dropzoneConfig, template: '#previewTemplate'}" role="form"
                      class="upload_work_form dropzone" action="/api/works">
                    <input id="description" type="hidden" name="description" value="" data-bind="value: description"/>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button id="notification-trigger" type="submit" data-bind="enable: formValid() && !uploading(), click: uploadFile, css: {active: uploading}"
                    class="progress-button btn btn-primary center-block text-center caps">
                <span class="content">Выложить работу</span><span class="progress"></span></button>
            <div id="notification-upload"></div>
        </div>
    </div>
</div>