<div>
    <p data-bind="if: comments().length == 0" class="text-center center-block mute">Пока нет комментариев к данной работе<span data-bind="if: ableToComment">. Станьте первым!</span></p>
    <div data-bind="foreach: comments">
        <div class="media" data-bind="if: !relatesToSuggestion, visible: !relatesToSuggestion">
            <div class="media-left media-top"><a href="javascript:;"><img data-bind="attr: {src: author.imageUrl}"></a></div>
            <div class="media-body">
                <h4 class="media-heading name"><!-- ko text: author.displayName --><!-- /ko --><span class="comment_date" data-bind="text: createdDate  | timeAgo"></span></h4><span class="comment" data-bind="text: text"></span>
                <div class="com_likes">
                    <button class="icobutton icobutton--heart inline-block" data-bind="animolike: {data: {workId: $parent.workId(), commentId: commentId}, enabled: _links.like || _links.unlike, isLiked: _links.unlike, like: $parent.likeComment, unlike: $parent.unlikeComment}, style: {color: _links.unlike ? '#d8536f' : '#aebeca', cursor: (_links.like || _links.unlike) ? 'pointer' : 'default'}"><i class="fa fa-heart"></i><span class="icobutton__text icobutton__text--side" data-bind="text: likesCount, style: {color: _links.unlike ? '#d8536f': '#aebeca'}"></span></button>
                    <div class="likers inline-block">
                        <a href="#"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg"></a>
                        <a href="#"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/faulknermusic/128.jpg"></a>
                        <a href="#"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/k/128.jpg"></a>
                        <a href="#"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/abinav_t/128.jpg"></a>
                        <a href="#"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/kastov_yury/128.jpg"></a>
                        <a href="#"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/azielsilas/128.jpg"></a></div>
                </div>
            </div>
        </div>
        <div class="media sys" data-bind="if: relatesToSuggestion, visible: relatesToSuggestion">
            <div class="media-left media-top"><a href="javascript:;"><img data-bind="attr: {src: author.imageUrl}"></a></div>
            <div class="media-body">
                <h4 class="media-heading name"><!-- ko text: author.displayName --><!-- /ko --><span class="comment_date" data-bind="text: createdDate  | timeAgo"></span></h4>
                <div class="point_comments pull-right"> <a href="#"><span data-bind="text: suggestionCommentsCount"></span><img src="/img/comments_i.svg"></a></div>
                <div class="system_info"><i>Порекомендовал изменения на работе…</i><a data-toggle="modal" data-target="#edit_work">Посмотреть </a></div>
            </div>
        </div>
    </div>
</div>
