<div id="confirm" class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
        </div>
        <div class="modal-body">
            <p>Вы действительно хотите удалить эту работу <br>и все комментарии к ней?</p>
            <hr>
            <div class="centered_btns"><a class="btn btn_primary" data-bind="click: confirmDelete">Удалить</a><a data-dismiss="modal" class="btn ghost_button">Отмена</a></div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>