<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            <div id="planit" data-bind="planit: {id: 'planit', img: parentCtx.originalUri(), click: startSuggestionThread}"></div>
            <div class="user_tips">
                <button type="button" data-dismiss="modal" class="close"><span aria-hidden="true">×</span></button>
                <div class="clearfix"></div>
                <div data-bind="if: suggestions().length == 0">
                    <img src="/img/bubble.svg" class="no_tips text-center">
                    <span class="caps text-center center-block gray">ДЛЯ ДОБАВЛЕНИЯ КОММЕНТАРИЯ НАЖМИТЕ НА ИЗОБРАЖЕНИЯ В НУЖНОМ МЕСТЕ</span>
                </div>
                <div data-bind="foreach: suggestions">
                    <div class="media">
                        <div class="media-left"><a href="javascript:;"><img data-bind="attr: {src: author.imageUrl}"></a></div>
                        <div class="media-body">
                            <h4 class="media-heading"><!-- ko text: author.displayName --><!-- /ko --></h4><span class="marker-date" data-bind="text: createdDate | shortDate"></span>
                            <div class="tips_counter"><span data-bind="text: commentsCount"></span><img src="/img/comments_i.svg"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
