<div id="work_itself">
    <!-- Root element of PhotoSwipe. Must have class pswp.-->
    <div tabindex="-1" role="dialog" aria-hidden="true" class="pswp">
        <!--
        Background of PhotoSwipe.
        It's a separate element as animating opacity is faster than rgba().
        -->
        <div class="pswp__bg"></div>
        <!-- Slides wrapper with overflow:hidden.-->
        <div class="pswp__scroll-wrap">
            <!--
            Container that holds slides.
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on.
            -->
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>
            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed.-->
            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <!-- Controls are self-explanatory. Order can be changed.-->
                    <div class="pswp__counter"></div>
                    <button title="Close (Esc)" class="pswp__button pswp__button--close"></button>
                    <!--button.pswp__button.pswp__button--share(title='Share')-->
                    <button title="Toggle fullscreen" class="pswp__button pswp__button--fs"></button>
                    <button title="Zoom in/out" class="pswp__button pswp__button--zoom"></button>
                    <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR-->
                    <!-- element will get class pswp__preloader--active when preloader is running-->
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>
                <button title="Previous (arrow left)" class="pswp__button pswp__button--arrow--left"></button>
                <button title="Next (arrow right)" class="pswp__button pswp__button--arrow--right"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>

   <div class="row">
        <div class="col-lg-8 col-md-8">
            <div class="work_desk">
                <div class="h_work"><img data-bind="attr: {src: originalUri}" class="work_image hidden-xs"/><img data-bind="attr: {src: originalUri}, photoswipe" id="work_pic" class="work_image visible-xs-block"/>
                    <div class="work_head">
                        <div class="short_info"><a class="inline-block v-middle info_block views"><i class="icon chapter_iconsview"> </i><span data-bind="text: viewsCount"></span></a>
                            <div class="inline-block v-middle separator"></div><a class="inline-block v-middle info_block likes">
                                <button class="icobutton icobutton--heart" data-bind="animolike: {data: workId(), enabled: canLike() || canUnlike(), isLiked: canUnlike(), like: likeWork, unlike: unlikeWork}, style: {color: canUnlike() ? '#d8536f' : '#aebeca', cursor: canLike() || canUnlike() ? 'pointer' : 'default'}"><i class="fa fa-heart"></i><span class="icobutton__text icobutton__text--side" data-bind="text: likesCount, style: {color: canUnlike() ? '#d8536f': '#aebeca'}"></span></button></a>
                            <div class="inline-block v-middle separator"></div><a class="inline-block v-middle info_block comments"><i class="icon chapter_iconschat"></i><span data-bind="text: commentsCount"></span></a>
                        </div>
                    </div>
                </div>
                <div class="add_mark" data-bind="if: ableToComment">
                    <a data-toggle="collapse" href="#comment_form" aria-expanded="false" aria-controls="comment_form" id="open_form" class="add_m btn btn-primary text-center caps" data-bind="click: leaveComment, css: {disabled: enteringComment()}">Оставить комментарий</a>
                    <a href="javascript:;" class="add_m btn btn-success text-center caps" data-bind="click: markOnWork, css: {disabled: enteringComment()}">Указать на работе</a>
                    <div id="comment_form" class="collapse">
                        <form>
                            <div class="form-group">
                                <textarea placeholder="Введите текст комментария" class="form-control" data-bind="value: newComment,  valueUpdate: 'input'"></textarea>
                            </div>
                            <button type="reset" data-target="#comment_form" data-toggle="collapse" aria-expanded="true" aria-controls="comment_form" class="btn ghost_button caps pull-right" data-bind="click: hideCommentForm">Отмена</button>
                            <button id="leave_comment" data-target="#comment_form" data-toggle="collapse" aria-expanded="true" aria-controls="comment_form"  data-bind="click: sendComment, css: {disabled: !commentFormValid()}" class="btn btn-primary text-center caps pull-right">Отправить</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
                <div class="comments pad" data-bind="compose: {model: 'work/comments', view:'work/comments.html', preserveContext: true, activationData: workId()}"></div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="work_info">
                <div class="border"></div>
                <div class="media">
                    <div class="media-left media-top"><a href="javascript:;"><img data-bind="attr: { src: ownerUrl }"/></a></div>
                    <div class="media-body">
                        <h4 class="media-heading name" data-bind="text: ownerDisplayName"></h4><span class="date" data-bind="text: createdDate()  | shortDate"></span>
                    </div>
                </div>
                <div class="dots"></div><a class="btn btn-success text-center caps full-block visible-xs-block">Показать описание</a>
                <div class="inform_block">
                    <div class="task_text" data-bind="text: description, inplaceedit: {rows: 15, mode: 'inline', type: 'textarea', applyFn: descriptionEdited, activateFn: activateInPlaceEdit, editCancelledFn: onCancelEdit, validateFn: validateDescription}"></div>
                    <div class="dots"></div>
                    <div class="actions" data-bind="if: isMine() && !descriptionEditIsInProgress()"><a href="javascript:;" data-bind="click: editDescription" class="edit btn btn-primary text-center caps"> <i class="icon chapter_iconspencil"> </i></a><a data-bind="click: deleteWork" href="javascript:;" class="delete btn btn-danger text-center caps"> <i class="icon chapter_iconsdelete"></i></a></div>
                </div>
            </div>
        </div>
    </div>
</div>