<div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand"><img src="/img/logo.svg"></a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav"></ul>
                <div data-bind="compose: {model: privateSectionVM, preserveContext: true}"></div>
            </div>
        </div>
    </nav>
    <div class="content_main">
        <div class="container content-wrap" data-bind="router: { cacheViews:false }"></div>
    </div>
    <footer class="footer">
        <div class="container">
            <p class="text-muted text-center"><strong>ARTWORK © 2017.</strong>Все работы принадлежат их непосредственным владельцам.</p>
        </div>
    </footer>
</div>
